<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="well whatsspy-header-box">
					<div class="row">
						<div class="col-md-9">
							<p>
								{{'ABOUT_LICENSE0' | translate}} <a target ="_blank" href="https://gitlab.maikel.pro/maikeldus/WhatsSpy-Public/wikis/home#license-cc-by-nc">{{'ABOUT_LICENSE1' | translate}}</a> {{'ABOUT_LICENSE2' | translate}}
							</p>
							<br />
							<p>
								{{'ABOUT_DONATION0' | translate}} <br />
								<strong>{{'ABOUT_DONATION1' | translate}}</strong> 1NrCxCMjHG13PkgaRptHGogmz4yawaGbvf {{'ABOUT_DONATION2' | translate}} 
								<strong><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=94XN3X5EPUMP2&lc=NL&item_name=WhatsSpy%20Public%20Donations&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted" target="_blank">{{'ABOUT_DONATION3' | translate}}</a></strong>
							</p>
							<br />
							<br />
						</div>
						<div class="col-md-3 about-icon-container">
							<span class="glyphicon glyphicon-question-sign about-icon" aria-hidden="true"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
							  	<h3 class="panel-title">{{'ABOUT_INFO' | translate}}</h3>
							</div>
							<div class="panel-body">
								<table class="table">
									<tbody>
										<tr>
											<td><strong>{{'ABOUT_VERSION' | translate}}</strong></td>
											<td>{{version}} <strong class="update-behind" data-ng-show="version != newestVersion"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{newestVersion}} {{'ABOUT_UPDATE' | translate}}</strong><strong class="update-current" data-ng-show="version == newestVersion"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{'ABOUT_UPTODATE' | translate}}</strong></td>
										</tr>
										<tr data-ng-show="version != newestVersion">
											<td><strong>{{'ABOUT_UPDATE_NOW' | translate}} {{newestVersion}}:</strong></td>
											<td><a href="https://gitlab.maikel.pro/maikeldus/WhatsSpy-Public/wikis/updates" target="_blank">{{'ABOUT_UPDATE_LOG' | translate}}</a></td>
										</tr>
										<tr>
											<td><strong>{{'ABOUT_WIKI' | translate}}</strong></td>
											<td><a href="https://gitlab.maikel.pro/maikeldus/WhatsSpy-Public/wikis/home" target="_blank">{{'ABOUT_WIKI_LINK' | translate}}</a></td>
										</tr>
										<tr>
											<td><strong>{{'ABOUT_FAQ' | translate}}</strong></td>
											<td><a href="https://gitlab.maikel.pro/maikeldus/WhatsSpy-Public/wikis/FAQ" target="_blank">{{'ABOUT_FAQ_LINK' | translate}}</a></td>
										</tr>
										<tr>
											<td><strong>{{'ABOUT_TROUBLE' | translate}}</strong></td>
											<td><a href="https://gitlab.maikel.pro/maikeldus/WhatsSpy-Public/wikis/troubleshooting" target="_blank">{{'ABOUT_TROUBLE_LINK' | translate}}</a></td>
										</tr>
										<tr>
											<td><strong>{{'ABOUT_LANGUAGE' | translate}}</strong></td>
											<td>
												<select class="form-control" ng-model="selectedLanguage" ng-options="language.id as language.name for language in availableLanguages"></select>
											</td>
										</tr>
										<tr>
											<td><strong>{{'ABOUT_OPTIONS' | translate}}</strong></td>
											<td>
												<button type="submit" class="btn btn-danger" data-ng-click="doLogout(true)">{{'ABOUT_OPTIONS_LOGOUT' | translate}}</button>
											</td>
										</tr>
										<tr data-ng-show="advancedControls.enabled == true">
											<td><strong>{{'ABOUT_ADVANCED' | translate}}</strong></td>
											<td>
												<button type="submit" class="btn btn-warning" data-ng-click="executeServerCmd('doShutdown')">{{'ABOUT_ADVANCED_STOP' | translate}}</button>
												<button type="submit" class="btn btn-success" data-ng-click="executeServerCmd('doStartup')">{{'ABOUT_ADVANCED_START' | translate}}</button>
												<button type="submit" class="btn btn-info" data-ng-click="executeServerCmd('doUpdate')">{{'ABOUT_ADVANCED_UPDATE' | translate}}</button>
											</td>
										</tr>
									</tbody>
								</table>
								<p>
									<h4>{{'ABOUT_NEWS' | translate}}</h4>
									<ul>
										<li data-ng-repeat="newsitem in news">
											<a target ="_blank" data-ng-href="{{newsitem.url}}"> {{newsitem.title}} <small>({{newsitem.date}})</small></a>
										</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
							  	<h3 class="panel-title">{{'ABOUT_AGENTS' | translate}}</h3>
							</div>
							<div class="panel-body">
								<small data-ng-show="notificationOptionDisabled">{{'ABOUT_AGENTS_NONE1' | translate}} <strong>{{'ABOUT_AGENTS_NONE2' | translate}}</strong>. {{'ABOUT_AGENTS_NONE3' | translate}}</small>
								<div class="col-md-6" data-ng-show="notificationOptionDisabled == false && agent.enabled == true" data-ng-repeat="(key, agent) in notificationSettings">
									<div class="panel panel-default">
										<div class="panel-heading">
										  	<h3 class="panel-title"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> {{agent.name}}</h3>
										</div>
										<div class="panel-body">
											<strong>{{'ABOUT_AGENTS_PROPS' | translate}}</strong>
											<table class="table">
												<tbody>
													<tr>
														<td>
															{{'ABOUT_AGENTS_USER' | translate}}
														</td>
														<td>
															<strong>{{agent['notify-user']}}</strong>
														</td>
													</tr>
													<tr data-ng-show="key != 'wa'">
														<td>
															{{'ABOUT_AGENTS_TRACKER' | translate}}
														</td>
														<td>
															<strong>{{agent['notify-tracker']}}</strong>
														</td>
													</tr>
													<tr data-ng-show="key == 'wa'">
														<td colspan="2">
															 {{'ABOUT_AGENTS_TO' | translate}}
															<strong>{{agent['key']}}</strong>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
							    	</div>
								</div>	
								<div class="clear"></div>
								<small>{{'ABOUT_AGENTS_RESTART' | translate}}</small>
							</div>
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
						  	<h3 class="panel-title">{{'ABOUT_QA' | translate}}</h3>
						</div>
						<div class="panel-body">
							<div data-ng-repeat="qa in help">
								<h4>{{::qa.question}}</h4>
								<div class="awnser" data-ng-bind-html="::qa.awnser">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>